body {
	text-align: center;
}

.main, .panel {
	margin: 0 auto;
}

.row {
	text-align: center;
}

.cellOutter {
	display: inline-block;
	vertical-align:top;

	border-right: 1px solid;
	border-top: 1px solid;
	border-color: gray;
	padding: 0;
	margin: 0;
	text-align: left;
}

.cellInner {
	text-align: center;
	display: inline-block;
	border: 1px silver solid;
	cursor: pointer;

	font-family: Verdana, Helvetica, Arial, sans-serif;
	font-weight: bold;
}

.main {
	width: 350px;
	min-width: 350px;
}

.row {
	height: 31px;
	min-height: 31px;
	max-height: 31px;
	line-height: 31px;
}

.cellOutter {
	width: 30px;
	min-width: 30px;
	max-width: 30px;
	height: 30px;
	min-height: 30px;
	max-height: 30px;
	line-height: 30px;
}

.cellInner {
	width: 28px;
	min-width: 28px;
	max-width: 28px;
	height: 28px;
	min-height: 28px;
	max-height: 28px;
	line-height: 28px;
	border-radius: 2px;

	font-size: 12pt;
	text-shadow: 1px 1px white;
}

span.Button {
	font-size: 6pt;
	margin-left: 3px;
	margin-right: 3px;
}

#json {
	width: 300px;
	height: 60px;
}

.pan > .cellInner {
	margin-left: 2px;
	margin-right: 2px;
}

.cellInner.bordered {
	width: 26px;
	min-width: 26px;
	max-width: 26px;
	height: 26px;
	min-height: 26px;
	max-height: 26px;
	line-height: 26px;
	border: 2px yellow solid;
	border-radius: 6px;
}

@media (min-width: 640px) {
	.main {
		width: 600px;
		min-width: 600px;
	}

	.cellInner.bordered {
		width: 46px;
		min-width: 46px;
		max-width: 46px;
		height: 46px;
		min-height: 46px;
		max-height: 46px;
		line-height: 46px;
		border: 3px yellow solid;
		border-radius: 12px;
	}

	.row {
		height: 53px;
		min-height: 53px;
		max-height: 53px;
		line-height: 53px;
	}

	.cellOutter {
		width: 52px;
		min-width: 52px;
		max-width: 52px;
		height: 52px;
		min-height: 52px;
		max-height: 52px;
		line-height: 52px;
	}

	.cellInner {
		width: 50px;
		min-width: 50px;
		max-width: 50px;
		height: 50px;
		min-height: 50px;
		max-height: 50px;
		line-height: 50px;
		border-radius: 8px;
		font-size: 18pt;
		text-shadow: 2px 2px white;
	}

	span.Button {
		width: 60px;
		font-size: 10pt;
		margin-left: 10px;
		margin-right: 10px;
	}

	.pan > .cellInner {
		margin-left: 4px;
		margin-right: 4px;
	}

	#json {
		width: 500px;
		height: 60px;
	}
}

.cellOutter.BGColor1 {
	background-color: #ffd;
}

.cellOutter.BGColor2 {
	background-color: #eff;
}

.boldUpBoder {
	border-top: 1px solid black;
}
.boldLeftBoder {
	border-left: 1px solid black;
}
.boldDownBoder {
	border-bottom: 1px solid black;
}
.boldRightBoder {
	border-right: 1px solid black;
}

.cellInner.digit {
	position: static;
}

.cellInner.digit.done {
	background-color: gray;
	color: silver;
	cursor: not-allowed;
}

.cellInner.reset {
	position: static;
}

.cellInner:hover {
	background-color: #fde;
	color: black;
	text-shadow: 2px 2px #f48;
}

.cellInner.filled {
	background-color: #44c;
	color: white;
	text-shadow: 2px 2px black;
}

.cellInner.filled.fixed {
	background-color: maroon;
	color: silver;
	text-shadow: 2px 2px gray;
}

.cellInner.sameDigit {
	background-color: #f04;
	border-color: yellow;
}

.cellInner.highlight {
	background-color: #f26;
	border-color: purple;
}

.cellInner.warning {
	border-color: #f42;
}

.cellInner.filled:hover {
	background-color: red;
	text-shadow: 2px 2px gray;
}

.cellInner.selected {
	background-color: yellow;
	border-color: lime;
	color: maroon;
	text-shadow: 2px 2px #f63;
}

.cellInner.selected:hover {
	background-color: #ffe;
	color: red;
	text-shadow: 2px 2px orange;
}

.cellInner.digit.disabled {
	background-color: silver;
	color: gray;
	text-shadow: none;
	cursor: not-allowed;
}

.cellInner.digit.done.disabled {
	background-color: gray;
	color: silver;
}

.cellInner.digit.disabled:hover {
	background-color: silver;
	color: gray;
	text-shadow: none;
}

span.Button {
	border: solid 1px #666;
	background-color: #eee;
	padding: 4px;
	line-height: 1.7;
	cursor: pointer;
}

span.Button:hover {
	background-color: #8FC;
	text-decoration: underline;
	line-height: 1.65;
}

